@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    font-family: Roboto;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
}

header {
    background-color: #1F5982;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 48px;
}

.logo {
    font-size: 25px;
    color: white;
    font-weight: bold;
}

.head-links {
    justify-content: flex-end;
    align-items: flex-start;
    padding: 6px;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin: 48px;
    max-width: 350px;
}

.title {
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: bold;
}

.title-landscape {
    display: flex;
    align-content: center;
    justify-content: center;
}

img {
    display: flex;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    flex-direction: row;
    
}

