@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    font-family: Roboto;
    height: 100vh;
    display: flex;
    justify-content: center;
}

header {
    background-color: #1F5982;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 48px;
}

.logo {
    font-size: 25px;
    color: white;
    font-weight: bold;
}

.head-links {
    justify-content: flex-end;
    align-items: flex-start;
    padding: 6px;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin: 48px;
    max-width: 350px;
}

.title {
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: bold;
}

.title-landscape {
    display: flex;
    align-content: center;
    justify-content: center;
}

img {
    display: flex;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    flex-direction: row;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

header {
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    background: #1f2937;
    color: #F9faf8;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    font-size: 20px;
    font-weight: 800;
}
header a {
    color: #E5E7EB;
    text-decoration: none;
}
header .head-links {
    display: flex;
    width: 30%;
    min-width: fit-content;
    justify-content: space-evenly;
    gap: 10px;
}

main {
    background: #1f2937;
}

.info {
    background: #1f2937;
    height: 350px;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    justify-content: center;
    align-content: center;
    min-width: fit-content;
}
.info__left {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
}
.info__left h1 {
    font-size: 48px;
    color: #F9faf8;
}
.info__left p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

.button1 {
    width: 140px;
    height: 40px;
    color: white;
    font-size: 18px;
    background: #3882f6;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    overflow: hidden;
}
.info__right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.info__right img {
    border-radius: 50%;
    box-shadow: 2px 2px 9px 2px #000000;
    width: 300px;
    height: 300px;
    outline: 2px solid black;
}

.info-img-title {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 32px;
}

.info-img-title h2 {
    margin-top: 30px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

#img-list li {
    text-align: center;
    color: #1f2937;
}

#img-list img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 2px #000000;
    outline: 2px solid #3882f6;
}

#quote-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 80px;
    background: orange;
    height: 400px;
    width: auto;
    background: #E5E7EB;
    min-width: fit-content;
}

#quote-container .quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 250;
    color: #1f2937;
}

#quote-container .quote-author {
    display: flex;
    align-content: flex-start;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: 700;
}

#signup-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #3882f6;;
    height: 120px;
    margin: 4% 10% 4% 10%;
    border-radius: 10px;
}

.signup-text .signup-notice {
    display: flex;
    font-size: 24px;
    font-weight: 600;
    color: #F9faf8;
}

.signup-text .signup-more {
    color: #F9faf8;
}

#signup-container button {
    width: 140px;
    height: 40px;
    color: #F9faf8;
    font-size: 18px;
    background: #3882f6;
    font-weight: 600;
    border-radius: 8px;
    border: 2px solid #F9faf8;
    overflow: hidden;
}

footer {
    display: flex;
    background: #1f2937;
    color: #F9faf8;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    height: 60px;
}